!!!5
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='description', content='')
		meta(name='author', content='')
		title Clinical Trials
		// Bootstrap Core CSS
		link(href='/css/bootstrap.min.css', rel='stylesheet')
		// Custom CSS
		link(href='/grayscale.css', rel='stylesheet')
		// Custom Fonts
		link(href='/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
		// HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		// WARNING: Respond.js doesn't work if you view the page via file://
		//if lt IE 9
		script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
		script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
		body#page-top(data-spy='scroll', data-target='.navbar-fixed-top')
		// Navigation
		nav.navbar.navbar-custom.navbar-fixed-top(role='navigation')
			.container
				.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-main-collapse')
						i.fa.fa-bars
					// Collect the nav links, forms, and other content for toggling
				.collapse.navbar-collapse.navbar-right.navbar-main-collapse
					ul.nav.navbar-nav
						li.hidden
							a(href='#page-top')
						li
							a.page-scroll(href='#about') About
						li
							a.page-scroll(href='#download')#login Login
						li
							a.page-scroll(href='#contact') Contact
			// /.navbar-collapse
		// /.container
		// Intro Header
		header.intro
			.intro-body
				.container
					.row
						.col-md-8.col-md-offset-2
							h1.brand-heading Clinical Trial Analytics
							p.intro-text
								| A free, responsive, one-stop clinical study search page.
								br
							a.btn.btn-circle.page-scroll(href='#about')
								i.fa.fa-angle-double-down.animated
						// About Section
		section#about.container.content-section.text-center
				.row
					.col-lg-8.col-lg-offset-2
						h2 About Clinical Trials
						p
							| Clinical Study involves reasearch using human volunteers i.e intended to add to medical knowledge.
						p
							| Clinical Trial is a new medical approach which is helpful and different alternative for investigators to determine the safety and efficacy of the interventions by measuring the clinical outcomes. 
						p
							a(href='/map')
								img(border='0',alt='Clinical Locations',src="/images/map.png",width="463px",height="300px")
						
		// Download Section
		section#download.content-section.text-center
			.download-section
				.container
					.col-lg-8.col-lg-offset-2
						h2 Visit Login Page
						p Please visit the login page to sign up or login to the website
						a.btn.btn-default.btn-lg(href='/login')#visit_login Visit Login Page
		// Contact Section
		section#contact.container.content-section.text-center
			.row
				.col-lg-8.col-lg-offset-2
					h2 Contact 
					p
						| Feel free to email us to provide some feedback, give us suggestions, or to just say hello!
					p
						a(href='mailto:clinicaltrials.sjsu@yahoo.com') clinicaltrials.sjsu@yahoo.com
					ul.list-inline.banner-social-buttons
						li
							a.btn.btn-default.btn-lg(href='https://github.com/namithashetty/ClinicalTrials')
								i.fa.fa-github.fa-fw
								span.network-name Github
		// Footer
		footer
			.container.text-center
				p Copyright &copy;  clinicaltrial-env.elasticbeanstalk.com
	// jQuery
	script(src='js/jquery.js')
	// Bootstrap Core JavaScript
	script(src='js/bootstrap.min.js')
	// Plugin JavaScript
	script(src='js/jquery.easing.min.js')
	// Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/
	script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false')
	// Custom Theme JavaScript
	script(src='js/grayscale.js')

