
extends layout

block content
	#search-container
		.btn-group#dropdown-container
			button(type="button", data-toggle="dropdown", aria-expanded="false")#account-settings.btn.btn-success.dropdown-toggle
				| Account Settings
				Action.caret
			ul.dropdown-menu
				li: a(href="/home")#update-your-profile Update your profile
				button#btn-logout.btn.btn-danger
					i.icon-lock.icon-white
					| Sign Out
			
		div.clear-fix
		.search-panel
			form( method="get", action="/searchResult")#search-form.form-horizontal
				input(type="text", name="disease", id='disease-tf', placeholder='Search for a Disease', autocomplete='off').required.form-control
				button(type="submit", id='search-btn', name='search').btn.btn-success.btn-lg.btn-block
					i.icon-lock.icon-white
					| Search
					div.clear-fix
		
		div#wordcloud
			img(src='/images/wordCloud.png', alt='Word Cloud', style='width:463px;height:400px;border-radius:15px')

			
	include modals/alert
	include modals/confirm
					
block scripts
	script(src='/vendor/jquery.min.js')
	script(src='/vendor/bootstrap-typeahead.js')
	script(src='/vendor/jquery.form.js')
	script(src='/vendor/bootstrap.js')
	script(src='/js/views/home.js')
	script(src='/js/controllers/homeController.js')
	

	